@{
    Layout = "/_Layout.cshtml";
    
}


<article class="blog-post">
  <header>
    <h2>This is a sample Title, Some May Be Longer</h2><time datetime="2011-07-03">July 3, 2011</time>
  </header>
  
<p>
  Tenderloin pork short loin, short ribs ball tip meatball tail shank spare ribs pork
  chop jowl ham hock. Ribeye pork belly biltong meatball shoulder. Tongue drumstick
  salami strip steak spare ribs pork chop. Brisket turkey chicken rump pastrami. Biltong
  fatback chicken swine pastrami short ribs, beef beef ribs pork cow. Meatloaf t-bone
  cow spare ribs tail, tongue fatback pig ham short ribs pastrami beef ribs. Ham hock
  hamburger shankle tail pastrami short loin, cow tongue jowl.
</p>
<p>
  Sausage corned beef ham tongue meatloaf cow shoulder, rump drumstick pig. Meatloaf
  strip steak biltong beef ribs tongue cow beef, meatball chicken ribeye shoulder
  pork loin pastrami fatback. Turkey t-bone strip steak, andouille spare ribs tail
  sirloin biltong corned beef meatloaf rump ball tip. Pancetta shank beef ribs, meatball
  brisket ribeye t-bone short loin shoulder rump sausage pastrami hamburger. Chuck
  pork belly flank spare ribs, jerky shoulder ribeye bacon andouille short loin t-bone
  bresaola chicken pork loin. Sausage pastrami jowl, beef ribs chicken tail fatback
  t-bone meatloaf shoulder pork belly shankle short loin rump boudin. Pork loin ground
  round bacon ribeye rump, pork pastrami.
</p>
  <footer>
    <span class="article-tag">Tag1,</span> <span class="article-tag">tag2,</span> <span class="article-tag">tag3</span>
  </footer>
</article>
